<% if(user === "secretaire"){ %>

    <h3 class="manage" > Modifier un evenement </h3>

    <form method="post" action="/updateEvent" enctype="multipart/form-data" class="manageForm">
        <table cellpadding="20">
            <tr>
                <td><label for="id">Id :</label></td>
                <td><input type="number" id="id" name="id" value="<%= event.id %>"  class="logInp" readonly></td>
            </tr>
            <tr>
                <td><label for="label">Title :</label></td>
                <td><input type="text" id="label" name="label" value="<%= event.label %>"  class="logInp"></td>
            </tr>
            <tr>
                <td><label for="caption">Caption :</label></td>
                <td><textarea  id="caption" cols="100" name="caption"  class="logInp"><%= event.caption %></textarea></td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><label for="description">Description :</label></td>
                <td><textarea  id="description" rows="30" cols="100" name="description"  class="logInp"><%= event.description %></textarea></td>
            </tr>
            <tr>
                <td colspan="2">
                   <% for(let i = 0 ; i< images.length ; i++){ %>
                            <div class="preview">
                                <img src='<%= images[i] %>' alt="" >
                                <a href="#" class="delete-image" data-id="<%= ids[i] %>">
                                    <input type="button" value="-" onclick='remove()'>
                                </a>
                            </div>
                         <% } %>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="file-field input-field">
                        
                        <div id="inplist">
                        <div class="btn " id="sp" style="height: 100px; width: 100px;">
                          <input type="file" name="myImage" id="inpImage"  accept=".jpeg,.jpg,.png,.gif,.webp" required>
                        </div>
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" value="Ajouter une image">
                      </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Modifier" class="logBtn btn actionBtn"></td>
            </tr>
        </table>
    </form>
    
    <% }else{ %> page not available <% } %>    
    